<!DOCTYPE html>
<html>
  <head>
    <title>Eat Well, Be Well</title>
    <meta charset="utf-8">
    <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
    <meta content='no' name='imagetoolbar' />
    <meta content='width=device-width, initial-scale=1.0, user-scalable=0' name='viewport' />
    <meta content='YES' name='apple-touch-fullscreen' />
    <link href='/startup.png' rel='apple-touch-startup-image' />

    <%= stylesheet_link_tag "site.css" %>
    <%= yield_content :stylesheets %>
    <!--[if IE]>
      <%= stylesheet_link_tag "ie-all.css" %>
    <![endif]-->
    <%= javascript_include_tag 'modernizr.custom' %>
    <%= yield_content :javascripts %>
    <%= yield_content :head %>

    <script type="text/html" id="contact-form-thank-you">
      <p><span>Thank you for getting in touch! I'm looking forward to understanding how I can help you reach your goals.</span></p>
      <p><span class="small-text">You can also find great cooking, eating and other nutrition tips on our <a href="http://blog.eat-well-be-well.com">blog</a> and <a href="http://www.facebook.com/bioindividuality">Facebook</a>.</span></p>
    </script>

    <script type="text/html" id="contact-form-error">
      <span>There was a problem sending your message. Please try again.</span>
    </script>
  </head>

  <body class="<%= page_classes %>">
    <ul>
      <li><a href="#page-one">1</a></li>
      <li><a href="#page-two">2</a></li>
      <li><a href="#page-three">3</a></li>
      <li><a href="#page-four">4</a></li>
      <li><a href="#page-five">5</a></li>
      <li><a href="#page-six">6</a></li>
      <li><a href="#page-seven">7</a></li>
    </ul>

    <div class="page" id="page-one" data-background-image="/images/background-images/kale.jpg">
      <div class="content">
        <p data-invisible><span class="medium-text bold">When was the last time you talked with someone about your health and received the personal attention you deserve?</span></p>
      </div>
    </div>

    <div class="page" id="page-two" data-background-image="/images/background-images/cranberries.jpg">
      <div class="content">
        <p data-invisible><span>It’s rare for anyone to get an hour to work on their nutrition and goals with a trained professional. As a Health Coach, I create a supportive environment that will enable you to achieve all of your health goals. I have studied all the major dietary theories and use practical lifestyle coaching methods to guide you in discovering which approach works best for you.</span></p>
      </div>
    </div>

    <div class="page" id="page-three" data-background-image="/images/background-images/plums.jpg">
      <div class="content">
        <p data-invisible><span class="large-text bold">No single diet works for everyone.</span></p>
      </div>
    </div>

    <div class="page" id="page-four" data-background-image="/images/background-images/lemons.jpg">
      <div class="content">
        <p data-invisible><span>Most approaches to nutrition dwell on calories, carbs, fats, proteins. Instead of creating lists of restrictions and good and bad foods, I coach my clients to create a happy, healthy life in a way that is flexible, fun and free of denial and discipline.</span></p>
      </div>
    </div>

    <div class="page" id="page-five" data-background-image="/images/background-images/pomegranate.jpg">
      <div class="content">
        <p data-invisible><span class="huge-text bold">A new you is waiting.</span></p>
      </div>
    </div>

    <div class="page" id="page-six" data-background-image="/images/background-images/melons.jpg">
      <div class="content">
        <p data-invisible><span>I will guide you in finding the food and lifestyle choices that best support you. I will also help you to make gradual, lifelong changes that enable you to reach your current and future health goals.</span></p>
      </div>
    </div>

    <div class="page" id="page-seven" data-background-image="/images/background-images/tomato.jpg">
      <div class="content">
        <form method="post" action="http://sharp-fire-2410.herokuapp.com/" id="contact-form" data-invisible>
          <h3>Could one conversation change your life?</h3>

          <fieldset>
            <p data-invisible>
              <label for="contact-name">Name:</label><input type="text" name="message[sender]" id="contact-name" />
            </p>

            <p data-invisible>
              <label for="contact-email">Email:</label><input type="text" name="message[from]" id="contact-email" />
            </p>
          </fieldset>

          <fieldset>
            <p data-invisible>
              <label for="contact-message">Tell me about some of your eating goals.</label><textarea name="message[body]" id="contact-message"></textarea>
            </p>
          </fieldset>
          <input type="hidden" name="message[recipient]" value="liz@eat-well-be-well.com" />
          <input type="hidden" name="message[subject]" value="Contact from the website" />
          <input type="submit" name="commit" value="Send" />
        </form>
      </div>
    </div>

    <%= javascript_include_tag :main %>

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-25548735-2']);
      _gaq.push(['_setDomainName', 'eat-well-be-well.com']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>

