<!DOCTYPE html>
<html>
  <head>
    <title>Eat Well, Be Well</title>
    <meta charset="utf-8">
    <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
    <meta content='no' name='imagetoolbar' />
    <meta content='width=device-width, initial-scale=1.0, user-scalable=0' name='viewport' />
    <meta content='YES' name='apple-touch-fullscreen' />
    <link href='/startup.png' rel='apple-touch-startup-image' />

    <%= stylesheet_link_tag "site.css" %>
    <%= yield_content :stylesheets %>
    <%= javascript_include_tag 'modernizr.custom' %>
    <%= yield_content :javascripts %>
    <%= yield_content :head %>
  </head>

  <body class="<%= page_classes %>">
    <ul>
      <li><a href="#page-one">1</a></li>
      <li><a href="#page-two">2</a></li>
      <li><a href="#page-three">3</a></li>
      <li><a href="#page-four">4</a></li>
    </ul>

    <div class="page" id="page-one" data-background-image="images/background-images/kale.jpg">
      <div class="content">
        <p data-invisible><span>The night has a thousand eyes</span></p>
        <p data-invisible><span>And the day but one</span></p>
        <p data-invisible><span>Yet the light of the bright world dies</span></p>
        <p data-invisible><span>With the dying sun.</span></p>
      </div>
    </div>

    <div class="page" id="page-two" data-background-image="/images/background-images/cranberries.jpg">
      <div class="content">
        <p data-invisible><span>A site dedicated to promoting wellness through how you eat.</span></p>
        <p data-invisible><span>Important things lie ahead</span></p>
        <p data-invisible><span>Page two</span></p>
      </div>
    </div>

    <div class="page" id="page-three" data-background-image="/images/background-images/pomegranate.jpg">
      <div class="content">
        <p data-invisible><span>A site dedicated to promoting wellness through how you eat.</span></p>
        <p data-invisible><span>Important things lie ahead</span></p>
        <p data-invisible><span>Page three</span></p>
      </div>
    </div>

    <div class="page" id="page-four" data-background-image="/images/background-images/tomato.jpg">
      <div class="content">
        <form method="post" action="" id="contact-form" data-invisible>
          <h3>Curious to find out more? Please get in touch!</h3>

          <fieldset>
            <p data-invisible>
              <label for="contact-name">Name:</label><input type="text" name="contact[name]" id="contact-name" />
            </p>

            <p data-invisible>
              <label for="contact-email">Email:</label><input type="text" name="contact[email]" id="contact-email" />
            </p>
          </fieldset>

          <fieldset>
            <p data-invisible>
              <label for="contact-message">Tell me about some of your eating goals.</label><textarea name="contact[message]" id="contact-message"></textarea>
            </p>
          </fieldset>
        </form>
      </div>
    </div>

    <%= javascript_include_tag :main %>
  </body>
</html>

