<!DOCTYPE html>
<html>
  <head>
    <title>Eat Well, Be Well</title>
    <meta charset="utf-8">
    <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <%= stylesheet_link_tag "site.css" %>
    <%= yield_content :stylesheets %>
    <%= javascript_include_tag 'modernizr.custom' %>
    <%= yield_content :javascripts %>
    <%= yield_content :head %>
  </head>

  <body class="<%= page_classes %>">
    <ul>
      <li><a href="#page-one">1</a></li>
      <li><a href="#page-two">2</a></li>
      <li><a href="#page-three">3</a></li>
      <li><a href="#page-four">4</a></li>
    </ul>

    <div class="page" id="page-one" data-background-image="images/background-images/kale.jpg">
      <div class="content">
        <p><span>The night has a thousand eyes</span></p>
        <p><span>And the day but one</span></p>
        <p><span>Yet the light of the bright world dies</span></p>
        <p><span>With the dying sun.</span></p>
      </div>
    </div>

    <div class="page" id="page-two" data-background-image="/images/background-images/cranberries.jpg">
      <div class="content">
        <p><span>A site dedicated to promoting wellness through how you eat.</span></p>
        <p><span>Important things lie ahead</span></p>
        <p><span>Page two</span></p>
      </div>
    </div>

    <div class="page" id="page-three" data-background-image="/images/background-images/pomegranate.jpg">
      <div class="content">
        <p><span>A site dedicated to promoting wellness through how you eat.</span></p>
        <p><span>Important things lie ahead</span></p>
        <p><span>Page three</span></p>
      </div>
    </div>

    <div class="page" id="page-four" data-background-image="/images/background-images/tomato.jpg">
      <div class="content">
        <p><span>A site dedicated to promoting wellness through how you eat.</span></p>
        <p><span>Important things lie ahead</span></p>
        <p><span>Page four</span></p>
      </div>
    </div>

    <%= javascript_include_tag :application %>
  </body>
</html>

